/* Reset */
html, body, div,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, dl, dt, dd, ol, ul, li,
form, label,
caption, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
  background-color: black;
  color: white;
}

* {
  box-sizing: border-box;
}

/* Header spacing and background */
header {
  background-color: darkblue;
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;
}

h1, form{
  display: inline-block;
}

h1 {
  font-family: Verdana, sans-serif;
  font-size: 2.25em;
  padding: 0 3px 0 10px;
}

.button-holder{
  text-align: center;
}

/* Spacing for input form */
.search-form {
  line-height: 55px;
  display: block;
}

/*input form*/
.inputter {
  font-size: 22px;
  padding-left: 2px;
  background-color: white;
  border: 0
  width: 200px;
  text-decoration: none
  outline: none;
  border:0 solid white;
}
.inputter:focus, .submitter:focus{
    outline: none;
}

/* input submit */
.submitter {
    background-color: white; /* Green */
    color: black;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    padding: 1px 10px 1px 10px;
    cursor: pointer;
      text-decoration: none
  outline: none;
  border:0 solid white;
}
.submitter:hover{
  background-color: grey;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/* Front page */
.front-page {
  float: left;
  width: 100%;
  padding: 15px 0 0 0;
  text-align: center;
}
.front-page:after {
  content: "";
  display: table;
  clear: both;
}
/*size of front page image*/
.front-page img {
  height: 70vw;
}
/* Hover pointer and opacity for image */
.front-page img:hover {
  cursor: pointer;
  opacity:.4;
}

/* The Lightbox */
.lightbox {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 00;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Some animation for the background color */
.lightbox {
  animation: fader 5s;
}

/* Fade from blue to black */
@keyframes fader {
  0% {
    background-color: #0276FD;
  }
  100% {
    background-color: black;
  }
}

/* Lightbox Content */
.lightbox-content {
  position: relative;
  background-color: black;
  margin: auto;
  padding: 0;
  height: 100%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" all the way right */
.next {
  right: 0;
}

/* On hover, black background color change opacity */
.prev:hover,
.next:hover {
  background-color: grey;
  opacity: .5
}

/* Center slide image horizontally and size */
.lightbox img {
  margin-bottom: -4px;
  margin-left: auto;
  margin-right: auto;
  width: 70%
}

/* Caption styling */
.caption {
  font-size: 1.15em;
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.slider {
  clear: both;
}

.active,
.slider:hover {
  opacity: 1;
}

.lightbox img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

/* Media Queries */
@media only screen and (min-width: 480px) {
  .front-page img {
    height: 60vw;
  }

  header {
    flex-direction: row;
  }
}

@media only screen and (min-width: 650px) {
  h1 {
    font-size: 2.5em;
  }

  header {
    flex-direction: row;
  }

  .front-page img {
    height: 55vw;
  }
}